@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Chivo", sans-serif;
}

a {
  text-decoration: none;
}

.text-shade {
  color: #01213a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}

.w-fit {
  width: fit-content;
}

.pt-100 {
  padding-top: 100px;
}

.fs-10 {
  font-size: 10px;
}

.fs-18 {
  font-size: 18px;
}

.fs-15 {
  font-size: 15px;
}

.fs-50 {
  font-size: 50px;
}

.fs-60 {
  font-size: 65px;
}

.navbar-brand img {
  width: 200px;
}

.bg-primary1 {
  background-color: #0044eb;
}

.navbar-demo-btn {
  animation: gg 2s ease;
}

@keyframes gg {
  0% {
    transform: rotate(-5deg);
  }

  10% {
    transform: rotate(5deg);
  }

  200% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  90% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

.py-13 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.accordion-button-nav::after {
  padding: 10px;
  font-size: 10px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.253);
}

.particle-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heading-gradient {
  width: fit-content;
  background: linear-gradient(
    to right,
    #3d9bfc,
    #7b40e4,
    #f53a8b 100px,
    #ee704a,
    #2ddd4f
  );
  background-clip: text;
  color: transparent;
}

.Started-btn {
  transition: all ease 0.7s;
  overflow: hidden;
}

.Started-btn .text span {
  position: absolute;
  bottom: -45px;
  transition: all ease 0.7s;
  color: white;
}

.Started-btn:hover {
  background-color: black;
  color: transparent !important;
}

.Started-btn:hover span {
  bottom: 0;
}

.icon-hover {
  left: -10px;
  color: white;
  transition: all ease 0.7s;
}

.sales-btn {
  transition: all ease 0.3s;
}

.sales-btn:hover .icon-hover {
  left: 20px;
  font-size: 15px;
}

.sales-btn:hover {
  background-color: black;
  color: white;
}

.icon {
  transition: all ease 0.5s;
  position: absolute;
  right: 30px;
}

.sales-btn:hover .icon {
  right: -10px;
  color: white;
}

.marquee-slides img {
  width: 250px;
}

.simple-text-underline {
  background-color: #0043eb27;
  width: 130px;
  height: 10px;
  right: 10px;
}

.container-testimonial {
  background-color: #e3f0ff;
}

.capterra-star {
  color: #651fde;
}

.testimonial-star {
  color: #0044eb;
}

.swiper-button-next {
  right: 25px;
}

.swiper-button-prev {
  left: 25px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  margin: 0 !important;
  width: 0px;
  height: 0;
  top: 50%;
  transform: translate(50%);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 17px;
  color: gray;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 10px 15px 10px 15px;
  background-color: white;
}

.simple-underline {
  left: 0;
  height: 10px;
  background-color: #0043eb23;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

.fw-900 {
  font-weight: 900;
}

.range-container {
  width: 80%;
  margin: 50px auto;
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  padding: 0 40px 0 40px;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #39c99c;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-webkit-slider-thumb:hover {
  background: #333;
}

.switch {
  display: inline-block;
  width: 50px;
  height: 25px;
}

.slider {
  cursor: pointer;
  left: 0;
  right: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #39c99c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39c99c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pricing-started-btn {
  transition: all ease 0.4s;
}

.pricing-started-btn:hover {
  background-color: black;
  color: white;
  border: 3px solid transparent !important;
}

.pricing-object {
  position: absolute;
  width: 130px;
  top: 10px;
  animation: pricingAbsoluteObject 1s alternate infinite;
}

.MTU-conatiner{
  background-color: #0043eb21;
}

.MTU-conatiner a{
  transition: 0.5s;
}

.MTU-conatiner a:hover{
  background-color: black !important;
  color: white;
  border-color: transparent !important;
}

.pricing-name-silver{
  overflow: hidden;
  background: linear-gradient(150deg , white, gray);
}

.silver-pricing{
  background: linear-gradient(110deg,rgb(231, 229, 229) ,gray);
}

.free-trial{
  background-color: #030343;
  
}

.started-btn2:hover {
  background-color: #0044eb !important;
  
}
.started-btn2:hover i{
color: white !important;
}

.free-trial{
  padding: 60px 100px 60px 100px ;
}


@keyframes pricingAbsoluteObject {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
    /* Move to this position */
  }
}

@media screen and (max-width: 1200px) {
  .marquee-slides img {
    width: 180px;
  }
}

@media screen and (max-width: 990px) {
  .integration-accordions {
    display: none;
  }
  .trial-btn{
    justify-content: center !important;
  }
}

@media screen and (max-width: 768px) {
  .fs-60,
  .fs-50 {
    font-size: 45px;
  }

  .pt-100 {
    padding-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .fs-60 {
    font-size: 35px;
  }

  .fs-50 {
    font-size: 30px;
  }

  .marquee-slides img {
    width: 130px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media screen and (max-width:471px) {
  .free-trial{
    padding: 40px 20px 40px 20px !important;
  }
}
